<H1> Card Payments </H1>
<div class="index-container">

    
            <article class="content compact">
                <section>
                    <table cellpadding="0" cellspacing="0">
                        <% @card_payments.each do |payment| %>
                        <tbody>
                        <tr>
                            <th>id</th>
                            <td><%= payment.id %></td>
                        </tr>
                        <tr>
                            <th>type</th>
                            <td><%= payment.type %></td>
                        </tr>
                        <tr>
                            <th>amount</th>
                        <td><%= payment.amount %></td>
                        </tr>
                        <tr>
                            <th>currency</th>
                            <td><%= payment.currency_iso_code %></td>
                        </tr>
                        <tr>
                            <th>instrument </th>
                            <td><%= payment.payment_instrument_type %></td>
                        </tr>
                        <tr>
                            <th>status</th>
                            <td><%= payment.status %></td>
                        </tr>
                        <% if payment.refunded? %>
                        <tr>
                            <th>Refund </th>
                            <td><h3>yes</h3></td>
                        </tr>
                        <% end %>
                        
                        <tr>
                            <th>created_at</th>
                            <td><%= payment.created_at %></td>
                        </tr>
                        <% if !payment.refunded? %>
                        <tr>
                            <th>  <%= link_to "Refund Payment", refund_transaction_path(:payment_id => payment.id), class: "refund_button"  %> </th>
                            <td></td>
                        </tr>
                        <% end %>
                        
                        <tr>
                            <th> *************** </th>
                            <td>*******************************</td>
                        </tr>
                        <% end %>
                        </tbody>
                    </table>
                </section>
            </article>
            
    
    </div>
    
    